@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #1a212d;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    padding: 30px 22px;
    width: 42rem;
}
.container h1 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
}
.searchBox {
    background-color: #161922;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;

}
.searchBox input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%;
    color: #fff;
    font-size: 15px;
}
.searchBox button {
    background-color: #675afe;
    color: #fff;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.searchBox button:hover {
    background-color: #3a28fa;
}
.details {
    visibility: hidden;
    margin-top: 1rem;
    background-color: #161922;
    padding: 20px 25px;
    border: 1xp solid #999;
    border-radius: 6px;
}
.profile {
    display: flex;
}
.profile-image {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image img {
    width: 100%;
    height: 100%;

}
.profile-details {
    padding: 10px;
    width: 25rem;
}
.username {
    font-size: 13px;
    color: #675afe;
}
.bio {
    font-size: 14px;
    margin-top: 10px
}
.stats {
    background-color: #20232c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 1.4rem;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #999;
}
.stats-followers {
    height: 100%;
    border-left: 3px solid #999;
}
.stats-following {
    border-left: 3px solid #999;
}
.stats-followers div div {
    margin-left: 20px;
}
.stats-following div div {
    margin-left: 20px;
}
.stats-value a {
    color: white;
    text-decoration: none;
}
.media {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.media p {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 13px ;
}

  